<div class="mt-5 py-5 bg-light">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <p class="font-weight-bold">
                    Copyrights &copy; 2021 PowerMed.<br>
                    Alimenté par  
                    <a href="#" id="creator" class="text-secondary text-uppercase">abdessamade touati</a>
                </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 my-auto">
                <div class="d-flex justify-content-center">
                    <h4><a href="#"><i class="bi bi-facebook text-primary mx-3"></i></a></h4>
                    <h4><a href="#"><i class="bi bi-instagram text-danger mx-3"></i></a></h4>
                    <h4><a href="#"><i class="bi bi-linkedin text-info mx-3"></i></a></h4>
                    <h4><a href="#"><i class="bi bi-github text-dark mx-3"></i></a></h4>
                </div>
            </div>
        </div>
    </div>
</div>